<body>
  <div class="info">
      <h3>Submitted Info</h3>
      <p>Name: <%= results.name %></p>
      <p>Dojo Location:<%= results.location %></p>
      <p>Favorite Language:<%= results.language %></p>
      <p>Comment:<%= results.comment %></p>
      <a href="/"><button type="button">Go Back</button></a>
  </div>
</body>
